{%- extends 'base.html' -%}
{% from "components/file-input/macro.html" import tnaFileInput %}
{% from "components/select/macro.html" import tnaSelect %}
{% from "components/button/macro.html" import tnaButton %}
{%- set pageTitle = 'Upload' -%}

{% block content %}
    <div class="tna-container">
        <div class="tna-column tna-column--width-2-3 tna-column--full-small tna-column--full-tiny tna-!--margin-top-l">
            <h1>Record {{ reference }} has been updated</h1>
        </div>
    </div>
{% endblock %}